header {
	position: relative;
	.top-bar-inner {
	    position: relative;
			.logo {
				position: absolute;
				top: 0;
				left: 0;
				padding: 0.25rem 1.25rem 0 0.5rem;
			}
		.menu > li > a {
			color: $white;
			font-weight: bold;
			font-size: 0.875rem;
		}
	}
	.header-main {
		background: $light-blue;
		.header-title {
			padding: 1.5rem 0 2.375rem 7rem;
			h5 {
				color: $dark-blue;
				margin-bottom: 0;
			}
			h6 {
				color: $blue;
			}
		}
	}
	.header-menu {
		position: absolute;
		margin-top: -2rem;
	}
}