<div class="top-title">
	<div class="row">
		<h1>מי אנחנו</h1>
	</div>
</div>
<div class="row">
	<div id="graphs-slider" class="context column large-6 offset-large-1">
		<h3>
			עוד בצוות:
		</h3>
		<p>
			<strong>עמי שלו</strong>, בוגר הפקולטה למתמטיקה באוניברסיטה העברית בירושלים, בוגר 8200 ומשלים דוקטורט במדעי המוח באוניברסיטה העברית בירושלים. <br>עמי הוא יועץ לענייני ארכיטקטורת התכנה והמתמטיקה.
		</p>
		<p>
			<strong>אולגה קוקושקין וודמיטרי ווקורוב</strong>, בוגרי הפקולטה למדעי מחשב באוניברסיטת איוונובו, רוסיה – צוות התכנה.   
		</p>
		<p>
			<strong>תמיר סלובוצקי</strong>, בן 15, יועץ עיצוב, קידוד ותכנות אתרים.
			כן השתתפו בפיתוח התכנים וייעוץ פדגוגי:
			<strong>אנה פוליאק, אנטולי שטרקמן, ליליה קוט, מיכאל סמוליאנסקי</strong> ומורים רבים אחרים.
		</p>
	</div>
	<div class="context row column large-5">
		<h3>
			הלומדה נוסדה ב- 1988 במטרה לפתח תכנים ושיטות לימוד והוראה מתוקשבים בפיזיקה ובמתמטיקה ולהטמיע אותם במערכת החינוך.
		</h3>
		<p>
			יזמי הפרויקט היו עולים חדשים וותיקים מבריה"מ, ביניהם אנשי אקדמיה, מורים ומהנדסי תוכנה.
		</p>
		<p>
			בראש הקבוצה עומד <strong>ד"ר פיליפ סלובוצקי</strong>, בוגר אוניברסיטת נובוסיבירסק ובעל תואר שלישי בפיזיקה ממכון ויצמן, אשר משלב את עבודתו כמנכ"ל הלומדה עם הוראה בתיכון ובמכללות לוינסקי ותלפיות.
		</p>
			אחראי לפיתוח תכנים במתמטיקה – <strong>ד"ר יבגני רויז</strong>, מרצה בכיר באוניברסיטת אריאל;<br>
			ארכיטקט התוכנה וראש צוות תכנוּת – <strong>ד"ר אלכסנדר אוצ'ריטוביי</strong> מאוניברסיטת איבנובו מרוסיה.
		</p>
	</div>
</div>