<div class="top-title">
	<div class="row">
		<h1>מי אנחנו</h1>
	</div>
</div>
<div class="row">
	<div id="graphs-slider" class="context column large-6">
		<h3>
			עוד בצוות:
		</h3>
		<p>
			עמי שלו, בוגר הפקולטה למתמטיקה באוניברסיטה העברית בירושלים, בוגר 8200 ומשלים דוקטורט במדעי המוח באוניברסיטה העברית בירושלים. <br>עמי הוא יועץ לענייני ארכיטקטורת התכנה והמתמטיקה.
		</p>
		<p>
			אולגה קוקושקין וודמיטרי ווקורוב, בוגרי הפקולטה למדעי מחשב באוניברסיטת איוונובו, רוסיה – צוות התכנה.   
		</p>
		<p>
			תמיר סלובוצקי, בן 15, יועץ עיצוב, קידוד ותכנות אתרים.
			כן השתתפו בפיתוח התכנים וייעוץ פדגוגי:
			אנה פוליאק, אנטולי שטרקמן, ליליה קוט, מיכאל סמוליאנסקי ומורים רבים אחרים.
		</p>
	</div>
	<div class="context row column large-6">
		<h3>
			הלומדה נוסדה ב- 1988 במטרה לפתח תכנים ושיטות לימוד והוראה מתוקשבים בפיזיקה ובמתמטיקה ולהטמיע אותם במערכת החינוך.
		</h3>
		<p>
			יזמי הפרויקט היו עולים חדשים וותיקים מבריה"מ, ביניהם אנשי אקדמיה, מורים ומהנדסי תוכנה.
		</p>
		<p>
			בראש הקבוצה עומד ד"ר פיליפ סלובוצקי, בוגר אוניברסיטת נובוסיבירסק ובעל תואר שלישי בפיזיקה ממכון ויצמן, אשר משלב את עבודתו כמנכ"ל הלומדה עם הוראה בתיכון ובמכללות לוינסקי ותלפיות.
		</p>
			אחראי לפיתוח תכנים במתמטיקה – ד"ר יבגני רויז, מרצה בכיר באוניברסיטת אריאל;<br>
			ארכיטקט התוכנה וראש צוות תכנוּת – ד"ר אלכסנדר אוצ'ריטוביי מאוניברסיטת איבנובו מרוסיה.
		</p>
	</div>
</div>