<div id="gallery">
  <div  class="row">
    <div class="section-title alt">
      <h3>גלרית מוצרים שלנו</h3>
    </div>
    <div id="carousel" class="autoplay">
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Analitics.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Cover-7.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Cover-8.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Cover-9.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Decarte.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Domino-Fractions-Android.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Domino-Fractions.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Domino-Heshbon-Android.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Domino-Heshbon.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Euclid.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
       <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Galileo.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
       <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/GeoTrigo.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
       <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Gravi.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
       <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Hashiva.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
       <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Hazit-Gal.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
       <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Integral.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
       <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Karnit.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Live_Fractions.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Logaritm.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Merucavim-1.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Newton.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Nigzeret.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Potential.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Quadr.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Rotary.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Sidra.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Siluet.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Statist.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Tangram.jpg.png">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Trigo_A.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Trigo_B.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Vectory.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
      <div class="slide-body">
        <div class="slide-overlay">
          <button class="warning hollow button" href="#">לעוד פרטים</button>
        </div>
        <div class="slide-img">
          <img src="assets/img/books/Zavitan.jpg">
        </div>
        <h6>מתמטיקה ופיזיקה</h6>
        <p>לסטודנטים, למורים ללימוד עצמי</p>
      </div>
    </div>
  </div>
</div>

<!--script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script-->

<script>
  $(document).ready(function(){
		$('.autoplay').slick({
      slidesToShow: 6,
      slidesToScroll: 1,
      rtl: true
    });
	});
</script>