<div id="gallery">
  <div  class="row">
    <div class="section-title alt">
      <h3>גלרית מוצרים שלנו</h3>
    </div>
    <div id="carousel" class="autoplay">
      <div>
        <img src="assets/img/tangram.jpg">
      </div>
      <div>
        <img src="assets/img/tangram.jpg">
      </div>
      <div>
        <img src="assets/img/tangram.jpg">
      </div>
      <div>
        <img src="assets/img/tangram.jpg">
      </div>
      <div>
        <img src="assets/img/tangram.jpg">
      </div>
      <div>
        <img src="assets/img/tangram.jpg">
      </div>
      <div>
        <img src="assets/img/tangram.jpg">
      </div>
      <div>
        <img src="assets/img/tangram.jpg">
      </div>
      <div>
        <img src="assets/img/tangram.jpg">
      </div>
      <div>
        <img src="assets/img/tangram.jpg">
      </div>
      <div>
        <img src="assets/img/tangram.jpg">
      </div>
      <div>
        <img src="assets/img/tangram.jpg">
      </div>
    </div>
  </div>
</div>

<!--script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script-->

<script>
  $(document).ready(function(){
		$('.autoplay').slick({
      slidesToShow: 6,
      slidesToScroll: 1,
      focusOnSelect: true,
      rtl: true
    });
	});
</script>