<div class="row form-container">
	<h6>יש בעיות? כתבו לנו</h6>
	<div class="column large-3">
		<h4>הלומדה</h4>
		<p>איתמר בן אב"י 13<br>
		ראשון לציון 7531113</p>
		<p>טלפון: 03-965-80-84</p>
		<p>
			<a href="mailto:halomda@netvision.net.il">halomda@netvision.net.il</a>
			<a href="mailto:info@halomda.com">Info@halomda.com</a>
		</p>
	</div>
	<div class="column large-9">
		<form action="assets/submitform.php" method="post" data-abide="ajax" id="myform">
			<div class="row">
				<div class="column large-8">
					<textarea name="message" placeholder="תוכן הפנייה:"></textarea>
					<strong><button class="button" style="float: left; box-shadow: 0px 4px 0 #3c6a82;" type="submit" action="submitform.php">שלח</button></strong>
				</div>
				<div class="column large-4">
					<input name="first_name" type="text" pattern="[a-zA-Z]+" placeholder="שם">
					<input name="last_name" type="text" pattern="[a-zA-Z]+"placeholder="שם משפחה">
					<div class="required-star">*</div>
					<input  name="email" type="email" required placeholder="כתובת דואר אלקטרוני">
					<input name="phone" type="text" placeholder="מספר טלפון">
				</div>
			</div>
		</form>
	</div>
	</div>