<footer>
	<div class="row footer-inner">
		<div class="columns large-3 footer-left">
			<div class="fb-caption">
				<h5>FACEBOOK</h5>
				<p>people Like Halomda 000 11</p>
				<img src="assets/img/fb-like.jpg">
			</div>
			<div class="fb-logo">
				<img src="assets/img/img_fb.png">
			</div>
		</div>
		<div class="columns large-6 end footer-right">
			<div class="row">
				<ul class="menu">
					<li><a href="about.html">מי אנחנו</a></li>
					<li><a href="#">המוצרים</a></li>
				  	<li><a href="#">צור קשר</a></li>
				  	<li><a href="#">מכללות ואונברסיטאות</a></li>
				  	<li><a href="#">פסיכומטרי</a></li>
				  	<li><a href="#">גלים</a></li>
				</ul>
			</div>
			<div class="row">
				<a href="#">
					<img src="assets/img/btn_enter_blue.png">
				</a>
			</div>
		</div>
	</div>
	<div class="socket">
		<a href="mailto:info@halomda.com">info@halomda.com</a>
	</div>
	<div class="socket2">
	</div>
</footer>