<footer>
	<div class="footer-inner">
		<!--div class="columns large-3 footer-left">
			<div class="fb-caption" dir="ltr">
				<h5>FACEBOOK</h5>
				<p>11000 people Like Halomda</p>
				<img src="assets/img/fb-like.jpg">
			</div>
			<div class="fb-logo">
				<img src="assets/img/img_fb.png">
			</div>
		</div-->
		<div class="row">
			<div class="column large-5 large-offset-3 end" style="margin-left: 28%;">
				<ul class="menu">
					<li><a href="/">דף הבית</a></li>
					<li><a href="about.html">מי אנחנו</a></li>
					<li><a href="products.html">המוצרים</a></li>
				  	<li><a href="platforma.html">הפלטפורמה</a></li>
				  	<li><a href="contact.html">צור קשר</a></li>
				</ul>
			</div>
		</div>
		<div class="row" style="text-align: center;">
			<a href="#">
				<img src="assets/img/btn_enter_blue.png">
			</a>
		</div>
		<!--/div-->
	</div>
	<div class="socket">
		<a href="mailto:info@halomda.com">info@halomda.com</a>
	</div>
	<div class="socket2">
	</div>
</footer>