	<div class="header-main">
		<div class="row header-title">
			<h5>HALOMDA EDUCATIONAL SOFTWARE <strong>1988-2016 הלומדה</strong></h5>
			<h6><strong>מתמטיקה ופיזיקה לתלמידים, למורים וללימוד עצמי</strong></h6>
		</div>
	</div>
	<div class="row">
		<div class="header-menu">
			<ul class="row dropdown menu" data-dropdown-menu>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">Item 1</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
			</ul>
		</div>
	</div>
</header>