	<div class="header-main">
		<div class="row header-title">
			<h5>הלומדה HALOMDA EDUCATIONAL SOFTWARE <strong>1988-2016</strong></h5>
			<h6><strong>מתמטיקה ופיזיקה לתלמידים, למורים וללימוד עצמי</strong></h6>
		</div>
	</div>
	<div class="row">
		<div class="header-menu">
			<ul class="dropdown menu" data-dropdown-menu>
				<li class="menu-label">מתמטיקה:</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">א’-ג’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">ד’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">ה’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">ו’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">ז’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">ח’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">ט’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">י’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">י"א</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">י"ב</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
			</ul>
			<ul class="dropdown menu" data-dropdown-menu>
				<li class="menu-label">פיזיקה:</li>
				<li class=".is-dropdown-submenu-parent menu-blue">
				    <a href="#">מכניקה</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-blue">
				    <a href="#">אופטיקה</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-blue">
				    <a href="#">חשמל</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-blue">
				    <a href="#">גלים</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-dark-blue">
				    <a href="#">מכללות ואוניברסיטאות</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-dark-blue">
				    <a href="#">פסיכומטרי</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
			</ul>
		</div>
	</div>
</header>