	<div class="header-main">
		<div class="row header-title">
			<div class="columns large-9">
				<h5>הלומדה HALOMDA EDUCATIONAL SOFTWARE <strong>1988-2016</strong></h5>
				<h6><strong>מתמטיקה ופיזיקה לתלמידים, למורים וללימוד עצמי</strong></h6>
				<img class="caption-img" src="assets/img/icn_the_new.png"></img>
			</div>
			<div class="columns large-3">
				<a href="#">
					<img src="assets/img/btn_enter_blue.png">
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="header-menu">
			<ul class="dropdown menu" data-dropdown-menu>
				<li class="menu-label">מתמטיקה:</li>
				<li class="is-dropdown-submenu-parent">
				    <a href="#">א’-ג’</a>
				    <ul class="menu">
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Tangram.jpg.png"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Domino-Heshbon.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Cover1.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Cover2.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Cover3.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Domino-Heshbon-Android.jpg"></img></a></li>
				    </ul>
				</li>
				<li class="is-dropdown-submenu-parent">
				    <a href="#">ד’</a>
				    <ul class="menu">
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Domino-Heshbon.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Domino-Fractions.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Live_Fractions.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Domino-Fractions-Android.jpg"></img></a></li>
				    </ul>
				</li>
				<li class="is-dropdown-submenu-parent">
				    <a href="#">ה’</a>
				    <ul class="menu">
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/SolveFractions.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Live_Fractions.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Domino-Fractions.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Domino-Fractions-Android.jpg"></img></a></li>
				    </ul>
				</li>
				<li class="is-dropdown-submenu-parent">
				    <a href="#">ו’</a>
				    <ul class="menu">
						<li class="sub-item"><a href="#"><img src="assets/img/books/Domino-Fractions.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Live_Fractions.jpg"></img></a></li>				      	
						<li class="sub-item"><a href="#"><img src="assets/img/books/SolveFractions.jpg"></img></a></li>
						<li class="sub-item"><a href="#"><img src="assets/img/books/Zavitan.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Domino-Fractions-Android.jpg"></img></a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">ז’</a>
				    <ul class="menu">
						<li class="sub-item"><a href="#"><img src="assets/img/books/Math-7.jpg"></img></a></li>
						<li class="sub-item"><a href="#"><img src="assets/img/books/Zavitan.jpg"></img></a></li>
						<li class="sub-item"><a href="#"><img src="assets/img/books/picPrgBoxH1024.gif"></img></a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">ח’</a>
				    <ul class="menu">
						<li class="sub-item"><a href="#"><img src="assets/img/books/Math-8.jpg"></img></a></li>
						<li class="sub-item"><a href="#"><img src="assets/img/books/Zavitan.jpg"></img></a></li>
						<li class="sub-item"><a href="#"><img src="assets/img/books/picPrgBoxH1024.gif"></img></a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">ט’</a>
				    <ul class="menu">
						<li class="sub-item"><a href="#"><img src="assets/img/books/Math-9.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Hashiva.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Zavitan.jpg"></img></a></li>
						<li class="sub-item"><a href="#"><img src="assets/img/books/picPrgBoxH1024.gif"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Euclid.jpg"></img></a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">י’</a>
				    <ul class="menu">
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/picPrgBoxH1024.gif"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Euclid.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Hashiva.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Analitics.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Quadr.jpg"></img></a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">י"א</a>
				    <ul class="menu">
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/picPrgBoxH1024.gif"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/GeoTrigo.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Sidra.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Decarte.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Statist.jpg"></img></a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a href="#">י"ב</a>
				    <ul class="menu" style="right: -18rem">
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/picPrgBoxH1024.gif"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Nigzeret.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Integral.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Trigo_A.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Trigo_B.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Logaritm.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Merucavim-1.jpg"></img></a></li>
				    </ul>
				</li>
				<li class="menu-label">פיזיקה:</li>
				<li class=".is-dropdown-submenu-parent menu-blue">
				    <a class="double-icn" href="#"><img src="assets/img/icn_category_mechanika.png"></img><br>מכניקה</a>
				    <ul class="menu" style="right: -25rem">
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Cover-7.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Cover-8.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Galileo.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Newton.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Rotary.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Gravi.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Vectory.jpg"></img></a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-blue">
				    <a class="double-icn" href="#"><img src="assets/img/icn_category_optica.png"></img><br>אופטיקה</a>
				    <ul class="menu" style="right: -15rem">
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Cover-9.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Siluet.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Karnit.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Hazit-Gal.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Potential.jpg"></img></a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-blue">
				    <a class="double-icn" href="#"><img src="assets/img/icn_category_Hashmal.png"></img><br>חשמל</a>
				    <ul class="menu" style="right: -20rem">
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Cover-9.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Siluet.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Karnit.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Hazit-Gal.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Potential.jpg"></img></a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-blue">
				    <a class="double-icn" href="#"><img src="assets/img/icn_category_galim.png"></img><br>גלים</a>
				    <ul class="menu" style="right: -25rem">
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Cover-9.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Siluet.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Karnit.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Hazit-Gal.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Potential.jpg"></img></a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-dark-blue">
				    <a class="double" href="#">מכללות<br>ואוניברסיטאות</a>
				    <ul class="menu" style="right: -5rem">
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/Psycho.jpg"></img></a></li>
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/picPrgBoxH1026.jpg"></img></a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-dark-blue">
				    <a href="#">פסיכומטרי</a>
				    <ul class="menu">
				      	<li class="sub-item"><a href="#"><img src="assets/img/books/picPrgBoxH1026.jpg"></img></a></li>
					    </ul>
				</li>
			</ul>
			<!--{{> menu2}}-->
		</div>
	</div>
</header>