	<div class="header-menu">
		<div class=" card-drop">
			<ul class="dropdown menu" data-dropdown-menu>
				<li class="menu-label">מתמטיקה:</li>
				<li class=".is-dropdown-submenu-parent">
				    <a class="toggle" href="#">א’-ג’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a class="toggle" href="#">ד’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a class="toggle" href="#">ה’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a class="toggle" href="#">ו’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a class="toggle" href="#">ז’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a class="toggle" href="#">ח’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a class="toggle" href="#">ט’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a class="toggle" href="#">י’</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a class="toggle" href="#">י"א</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent">
				    <a class="toggle" href="#">י"ב</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
			</ul>
			<ul class="dropdown menu" data-dropdown-menu>
				<li class="menu-label">פיזיקה:</li>
				<li class=".is-dropdown-submenu-parent menu-blue">
				    <a class="toggle double-icn" href="#"><img src="assets/img/icn_category_mechanika.png"></img><br>מכניקה</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-blue">
				    <a class="toggle double-icn" href="#"><img src="assets/img/icn_category_optica.png"></img><br>אופטיקה</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-blue">
				    <a class="toggle double-icn" href="#"><img src="assets/img/icn_category_Hashmal.png"></img><br>חשמל</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-blue">
				    <a class="toggle double-icn" href="#"><img src="assets/img/icn_category_galim.png"></img><br>גלים</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-dark-blue">
				    <a class="toggle double" href="#">מכללות<br>ואוניברסיטאות</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
				<li class=".is-dropdown-submenu-parent menu-dark-blue">
				    <a class="toggle" href="#">פסיכומטרי</a>
				    <ul class="menu">
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				      	<li><a href="#">Item 1A</a></li>
				    </ul>
				</li>
			</ul>
		</div>
	</div>
<script>

$(document).ready(function(){
  (function($){
  //Author: Brady Sammons
  //URL: www.bradysammons.com
	/* -------------------------------------------------------- */ 
	/*	//set Global variables
	/* -------------------------------------------------------- */ 
	var cards = $(".card-drop"),
		toggler = cards.find(".toggle"),
		links = cards.find("ul>li>a"),
		li = links.parent('li'),
		count = links.length,
		width = links.outerWidth();

console.info(count);

console.info(width);
console.info(toggler);
console.info(links);
console.info(li);
console.info(cards );

		//set z-Index of drop Items
		links.parent("li").each(function(i){
			$(this).css("z-index" , count - i); //invert the index values
		});

		//set top margins & widths of li elements
		function setClosed(){
			li.each(function(index){
				 $(this).css("top" , index *2)
                                              
				 		.css("width" , width - index *20)
				 		.css("margin-left" , (index*20)/2)
                                                .css("margin-left" , (index*20)/2);
			});
                       
			li.addClass('closed');
			toggler.removeClass("active");
		}
		setClosed();

	/* -------------------------------------------------------- */ 
	/*	Toggler Click handler
	/* -------------------------------------------------------- */ 
	toggler.on("mousedown" , function(){
		var $this = $(this); //cache $(this)
		//if the menu is active:
               console.info(this);
		if($this.is(".active")){
			setClosed();
		}else{
			//if the menu is un-active:
			$this.addClass("active");
			li.removeClass('closed');
			//set top margins
			li.each(function(index){
				 $(this).css("top" , 60 * (index + 1))
				 		.css("width" ,"70%")
				 		.css("margin-left" , "40px");
			});
		}
	});

	/* -------------------------------------------------------- */ 
	/*	Links Click handler
	/* -------------------------------------------------------- */ 
	links.on("click" , function(e){
		var $this = $(this),
			label = $this.data("label");
			icon = $this.children("i").attr("class");
			
			li.removeClass('active');
		if($this.parent("li").is("active")){
			$this.parent('li').removeClass("active");
		}else{
			$this.parent("li").addClass("active");
		}
		toggler.children("span").text(label);
		toggler.children("i").removeClass().addClass(icon);
		setClosed();
		e.preventDefault;
	});

})(jQuery);
}); 
</script>