<div class="top-title">
	<div class="row">
		<h1>הפלטפורמה</h1>
	</div>
</div>
<div class="platforma-top-context">
	<div class="row">
		<div id="graphs-slider" class="context column large-5">
			<p>
				"הנוסחא-4" מקיפה את הנושאים הבאים: אלגברה סימבולית, סרטוט גרפים של פונקציות ב- 2D ו- 3D, גיאומטריה (ב- 2D ו- 3D), גיאומטריה אנליטית, חדו"א, הסתברות וסטטיסטיקה, מעגלים חשמליים ועוד.
			</p>
			<img src="assets/img/platforma-top-1.png"></img>
			<div class="row products-top-banner">
				<h3 class="tabs-header">הפעלת התוכנה:</h3>
				<div class="column large-5 large-offset-1">
					<a href="#">מדריך למשתמש (pdf)</a><br>
					<a href="#">סרטון הדגמה</a><br>
					<a href="#">התקנת  הגופן המתמטי</a>
				</div>
				<div class="column large-6">
					<a href="#">תיאור התוכנה (E-book)</a><br>
					<a href="#">מדריך למשתמש (E-book)</a>
				</div>
			</div>
		</div>
		<div class="context row column large-5">
			<p>
				בבסיס כל תוכנות התרגול וההערכה במתמטיקה נמצאת "הנוסחא-4", המשלבת תכונות של בינה מלאכותית (פענוח ביטויים מתמטיים שאותם כותב התלמיד) וגרפיקה דינמית ואינטראקטיבית.
				"הנוסחא-4" מאפשרת למורה ולתלמיד לערוך מסמכים מתמטיים (דפי עבודה, מבחנים, מצגות, מסרי דוא"ל וכד'), למורה - להעשיר שיעור פרונטאלי בהמחשות בכל תחומי מתמטיקה ולתלמיד – להכין שיעורי בית בסביבת חקר ובאופן מדויק.
			</p>
			<img src="assets/img/platforma-top-2.png" style="margin-top: 4.35rem;"></img>
		</div>
	</div>
</div>