  <div class="platforma-content">
    <div class="platforma-container">
      <div class="row">
        <h2 class="content-header">הפעולות העיקריות של "הנוסחא-4"</h2>
        <div class="column large-5">
          <div class="numeric">
            <h4 class="container-header">2.</h4>
            <h4 class="container-header">בנייה וחקירת גרפים של פונקציות ממשתנה אחד ומשני משתנים:</h4>
          </div>
          <div class="platforma-pic">
            <img src="assets/img/platforma-pic2.png">
          </div>
        </div>
        <div class="column large-5">
          <div class="numeric">
            <h4 class="container-header">1.</h4>
            <h4 class="container-header">עריכת ביטויים ונוסחאות והעתקה לוורד, דוא"ל או דפי HTML</h4>
          </div>
          <div class="platforma-pic">
            <img src="assets/img/platforma-pic1.png">
        </div>
      </div>
    </div>
    <div class="platforma-container">
      <div class="row">
        <div class="column large-5">
          <div class="numeric">
            <h4 class="container-header">4.</h4>
            <h4 class="container-header">גופים תלת-ממדיים, חתכים, סיבובים, פריסות:</h4>
          </div>
          <div class="platforma-pic" style="padding-top: 7rem;"">
            <img src="assets/img/platforma-pic4.png">
          </div>
        </div>
        <div class="column large-5">
          <div class="numeric">
            <h4 class="container-header">3.</h4>
            <h4 class="container-header">סרטוט מדויק של צורות גיאומטריות; מדידה, העתקה, סיבוב, קיבוץ, בנייה, פעולות סימטריה:</h4>
          </div>
          <div class="platforma-pic">
            <img src="assets/img/platforma-pic3.png">
          </div>
        </div>
      </div>
    </div>
    <div class="platforma-container">
      <div class="row">
        <div class="column large-5">
          <div class="numeric">
            <h4 class="container-header">6.</h4>
            <h4 class="container-header">טבלאות ודיאגרמות, איסוף ועבוד נתונים:</h4>
          </div>
          <div class="platforma-pic">
            <img src="assets/img/platforma-pic6.png">
          </div>
        </div>
        <div class="column large-5">
          <div class="numeric">
            <h4 class="container-header">5.</h4>
            <h4 class="container-header">שילוב של הנדסת המרחב והנדסת המישור:</h4>
          </div>
          <div class="platforma-pic">
            <img src="assets/img/platforma-pic5.png">
          </div>
        </div>
      </div>
    </div>
    <div class="platforma-container">
      <div class="row">
        <div class="column large-5">
          <div class="numeric">
            <h4 class="container-header">8.</h4>
            <h4 class="container-header">סטטיסטיקה, תכנון לינארי, טריגונומטריה, חדו"א, מטריצות, מספרים מרוכבים:</h4>
          </div>
          <div class="platforma-pic">
            <img src="assets/img/platforma-pic8.png">
          </div>
        </div>
        <div class="column large-5">
          <div class="numeric">
            <h4 class="container-header">7.</h4>
            <h4 class="container-header">פתרון מפורט של משוואות, מערכות, אי-שוויונות ואלגברה סימבולית:</h4>
          </div>
          <div class="platforma-pic">
            <img src="assets/img/platforma-pic7.png">
          </div>
        </div>
      </div>
    </div>
  </div>