<div class="row">
  <ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title columns large-4"><a href="#panel3" aria-selected="true">יחידות תוכן לבתי ספר תיכוניים מתמטיקה ופיזיקה<br>מתמטיקה</a></li>
    <li class="tabs-title center-tab columns large-4"><a class="tab-middle2" href="#panel2">יחידות  תוכן לבתי ספר חט״ב<br>מתמטיקה ופיזיקה</a></li>
    <li class="tabs-title is-active columns large-4"><a class="tab-middle" href="#panel1">יחידות תוכן לבתי ספר יסודיים</a></li>
  </ul>
</div>
<div class="tabs-content" data-tabs-content="example-tabs">
  {{> tab1}}
  {{> tab2}}
  {{> tab3}}
</div>