<div class="top-title">
	<div class="row">
		<h1>המוצרים</h1>
	</div>
</div>
<div class="row">
	<div id="graphs-slider" class="context column large-6 offset-large-1	">
		<p>
			כל המוצרים מתחלקים <span class="pink-text">למשחקים מתמטיים</span>, <span class="blue-text">תוכנות הדמיה</span>, <span class="red-text">תוכנות תרגול והערכה</span> ותוכנה אוניברסלית במתמטיקה הנוסחא-4, אשר גם מהווה פלטפורמה לתוכנות תרגול והערכה.
			<p>
			<h6 class="pink-text">משחקים מתמטיים</h6>
			טנגרם, דומינו-שברים, דומינו-חשבון, חידות עם ספרות.
			<p>
			<h6 class="blue-text">תוכנות הדמיה</h6>
			שברים חיים, זוויתן, ווקטורי ו- 8 תוכנות בפיזיקה: גלילאו, ניוטון, רוטארי, גראבי, קרנית, סילאוט, חזית-גל, פוטנציאל. 
			<p>
			<h6 class="red-text">תוכנות תרגול והערכה</h6>
			שברים בתרגילים, חשיבה כמותית, אוקלידס, מתמטיקה-7, מתמטיקה-8, מתמטיקה-9, אנליטיקה, הסדרה, גיאו-טריגו, טריגו-א, טריגו-ב, לוגי, הנגזרת, האינטגרל, מרוכבים
		</p>
	</div>
	<div class="context row column large-5">
		<p>
			במשך שנות פעילותה, הלומדה פיתחה מוצרים רבים לשימוש התלמידים, המורים ומוסדות חינוך עבור קבוצות גיל שונות: מגן ילדים דרך בתי"ס יסודיים, חט"ב ותיכוניים ועד למכללות ואוניברסיטאות.
			<br>
			המוצרים שפותחו בטכנולוגיות שונות מתאימים להתקנות בעמדות בודדות, ברשתות מחשבים במוסדות חינוך ולהפעלה דרך האינטרנט.
			<br>
			הלומדה משווקת בארץ ובחו"ל: מלבד עברית, התוכנות תורגמו לאנגלית ולספרדית.
			<br>
			הלומדה היא זכיינית של משרד החינוך בפרויקט התקשוב הלאומי מאז שהפרויקט יצא לדרך, ובמסגרת הפרויקט מפעילה את מוצריה במאות בתי ספר בארץ ומשרתת בנאמנות את אלפי התלמידים והמורים.
			<br>
			הלומדה ממשיכה לפתח טכנולוגיות ותכנים חדשים, ומזמינה להצטרף אליה מורים למתמטיקה בעלי מוטיבציה ורעיונות.
		</p>
	</div>
</div>