<div class="orbit" role="region" aria-label="Graphics"  data-auto-play="false" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <ul class="orbit-container">
    <button id="graphs-slider" class="orbit-previous"><span class="show-for-sr">Previous Slide</span><img src="assets/img/icn_img_prev.png"></button> <!-- &#9664;&#xFE0E; -->
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span><img src="assets/img/icn_img_next.png"></img></button> <!-- &#9654;&#xFE0E; -->
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="assets/img/orbit/slide1.jpg" alt="">
      <!--div class="single-item-rtl">
        <div><img class="orbit-image" src="assets/img/orbit/cube.jpg" alt=""></div>
        <div><img class="orbit-image" src="assets/img/orbit/cube1.jpg" alt=""></div>
        <div><img class="orbit-image" src="assets/img/orbit/domino-1.jpg" alt=""></div>
      </div-->
    </li>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="assets/img/orbit/cube.jpg" alt="">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="assets/img/orbit/cube1.jpg" alt="">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="assets/img/orbit/domino-1.jpg" alt="">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="assets/img/orbit/domino-2.jpg" alt="">
    </li>
  </ul>
  <!--nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav-->
</div>

<script type="text/javascript">
  $('.single-item-rtl').slick({
    rtl: true
  });
</script>