  <div class="row right" data-sticky-container>
    <div class="sticky" data-sticky data-top-anchor="graphs-slider:bottom" data-btm-anchor="carousel:bottom">
      <p>הינכם מתבקשים להתקין את הדפדפן הייעודי</p>
      <button type="button" class="success button">Forum Browser</button>
      <p>באמצעותו ניתן להפעיל אפליקציות רבות שבאתר זה.</p>
      <p>לאחר ההתקנה סגרו את האתר<br>וכנסו בו דרך הדפדפן הנמצא ב"כל התוכניות”</p>
      <div class="sticky-bottom">
        <p>כיצד לשדרג: <a href="#">הדרכה</a></p>
      </div>
      </div>
    </div>
  </div>