<div class="tabs-panel" id="panel1">
    <div class="squared">
	    <div class="row tabs-container" id="tabs-container11">
	    	<div class="tabs-pic column large-6">
	    		<img src="assets/img/products-1-1.png">
	    	</div>
	    	<div class="tabs-text column large-6">
	    		<h4 class="tabs-header">1. "דומינו-שברים"</h4>
				<div class="tabs-paragraph">
					<p>72 משחקים בכל נושאי השברים (החל מהייצוגים הגרפיים של שברים פשוטים, פעולות בין השברים, ועד לשברים מעורבים, עשרוניים ואחוזים).<br>
					מתאים לתלמידי <strong>ג' - ו'</strong>.</p>
		    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 120 שעות פעילות.</p>
	    		</div>
	    	</div>
	    </div>
	</div>
	<div class="unsquared">
	    <div class="row tabs-container" id="tabs-container12">
	    	<div class="tabs-text column large-5">
	    		<h4 class="tabs-header">2. "דומינו-חשבון"</h4>
				<div class="tabs-paragraph">
					<p>עשרות משחקים בשלוש רמות קושי בארבע פעולות<br>
					חשבון לתלמידי כיתות  <strong>א' – ג'</strong>.</p>
		    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 130 שעות פעילות.</p>
	    		</div>
	    	</div>
	    	<div class="tabs-pic column large-6 offset-large-1">
	    		<img src="assets/img/products-1-2.png">
	    	</div>
	    </div>
	</div>
	<div class="squared">
	    <div class="row tabs-container" id="tabs-container13">
	    	<div class="tabs-pic column large-5">
	    		<img src="assets/img/products-1-3.png">
	    	</div>
	    	<div class="tabs-text column large-7">
	    		<h4 class="tabs-header">3. "טנגרם"</h4>
				<div class="tabs-paragraph">
					<p>משחק קלאסי, עם האפשרויות שהמחשב מקנה: אינטראקטיביות, רמזים וכו'. יש ארבע רמות קושי, בכל רמה מספר רב של צורות. מתאים לתלמידי<br>
					מתאים לתלמידי <strong> א'- ד'</strong> ומעלה.</p>
		    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 120 שעות פעילות.</p>
	    		</div>
	    	</div>
	    </div>
	</div>
	<div class="unsquared">
	    <div class="row tabs-container" id="tabs-container14">
	    	<div class="tabs-text column large-5">
	    		<h4 class="tabs-header">4. "חידות עם ספרות"</h4>
				<div class="tabs-paragraph">
					<p style="font-size: 17px;">0 חידות/משימות לתובנת המספרים.<br>
					מבוסס על הספרים שגם אותם אפשר לראות באתר <a class="underline" href="#" style="font-size: 17px;">ראו גלריית ספרים</a>.<br>
					ההבדל בין הספרים לבין התוכנות הוא באינטראקטיביות ודינמיות</p>
		    		<!--p class="tabs-hours"><img src="assets/img/watches.png"></img> 130 שעות פעילות.</p-->
	    		</div>
	    	</div>
	    	<div class="tabs-pic column large-7">
	    		<img src="assets/img/products-1-4.png">
	    	</div>
	    </div>
	</div>
	<div class="squared">
	    <div class="row tabs-container" id="tabs-container15">
	    	<div class="tabs-pic column large-4">
	    		<img src="assets/img/products-1-5.png">
	    	</div>
	    	<div class="tabs-text column large-6">
	    		<h4 class="tabs-header">5. "שברים בתרגילים"</h4>
				<div class="tabs-paragraph">
					<p>8 עבודות בית ברוב נושאי השברים.<br>
					העבודות מכילות קטעי לימוד ותרגול אינטראקטיביים ומבחן. כל התרגילים<br>
					משתנים בכל הפעלת התוכנה, לכן כל תלמיד מקבל תרגילים שונים.</p>
		    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 240 שעות פעילות.</p>
	    		</div>
	    	</div>
	    </div>
	</div>
	<div class="unsquared">
	    <div class="row tabs-container" id="tabs-container16">
	    	<div class="tabs-text column large-5">
	    		<h4 class="tabs-header">6. "שברים חיים"</h4>
				<div class="tabs-paragraph">
					<p>אוסף המחשות ופעילויות אינטראקטיביות בכל נושאי השברים.<br>
					מתאים להדגמות בשיעור פרונטלי ולעבודת התלמידים<br>
					מתאים לתלמידי כיתות ד' – ו' </p>
		    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 240 שעות פעילות.</p>
	    		</div>
	    	</div>
	    	<div class="tabs-pic column large-7">
	    		<img src="assets/img/products-1-6.png">
	    	</div>
	    </div>
	</div>
	<div class="squared">
	    <div class="row tabs-container" id="tabs-container17">
	    	<div class="tabs-pic column large-6">
	    		<!--img src="assets/img/products-1-7.png"-->
	    	</div>
	    	<div class="tabs-text column large-6">
	    		<h4 class="tabs-header">7. "הנוסחא-4"</h4>
				<div class="tabs-paragraph">
					<p>הכלי האוניברסאלי במתמטיקה. מאפשר המחשות דינמיות ואינטראקטיביות<br>
					בגיאומטריה (כולל גופים במרחב ופריסות), בחשבון ועוד.</p>
		    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> שעות פעילות – בלתי מוגבל!</p>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>