<div class="tabs-panel is-active" id="panel2">
    <div class="squared">
	    <div class="row tabs-container" id="tabs-container21">
	    	<div class="tabs-pic column large-6">
	    		<img src="assets/img/products-2-8-10.png">
	    	</div>
	    	<div class="tabs-text column large-6">
	    		<h4 class="tabs-header">8-10. "דומינו-שברים"</h4>
				<div class="tabs-paragraph">
					<p>לכיתות ז', ח' ו-ט' מוצעים <span class="blue-text">שלוש יחידות</span> במתמטיקה מהסדרה<br>
					"עבודות להגשה":<br>
					היחידות הנ"ל מכילות שיעורי ביתbr ברוב <span class="red-text underline">נושאי המתמטיקה</span> עפ"י תכנית<br>
					הלימודים החדשה, הנבדקים באופן אוטומטי, והן מתאימות למשתמשי כל<br>
					ספרי הלימוד המאושרים.</p>
		    		<p class="tabs-hours black regular" style="margin-right: -1.2rem;"><img src="assets/img/watches.png"></img> היקף הפעילות:</p>
		    		<span class="pink-text">מתמטיקה 7</span> – <span class="light-blue-text bold">160 שעות</span><br>
					<span class="pink-text">מתמטיקה 8</span> – <span class="light-blue-text bold">120 שעות</span><br>
					<span class="pink-text">מתמטיקה 9</span> – <span class="light-blue-text bold">130 שעות</span>
	    		</div>
	    	</div>
	    </div>
	</div>
	<div class="unsquared">
	    <div class="row tabs-container" id="tabs-container22">
	    	<div class="tabs-text column large-5">
	    		<h4 class="tabs-header">11. חשיבה כמותית</h4>
				<div class="tabs-paragraph">
					<p>בתוכנה 10 עבודות שבועיות המכילות יותר מ- 200 תרגילים<br>
					אינטראקטיביים בכל הנושאים של פרק המתמטיקה במבחן <br>
					הפסיכומטרי.<br>
					מתאים לתלמידי כיתות <strong>ז' - י"ב</strong>.</p>
		    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 80 שעות פעילות.</p>
	    		</div>
	    	</div>
	    	<div class="tabs-pic column large-6">
	    		<img src="assets/img/products-11.png">
	    	</div>
	    </div>
	</div>
	<div class="squared">
	    <div class="row tabs-container" id="tabs-container23">
	    	<div class="tabs-pic column large-5">
	    		<img src="assets/img/products-12.png">
	    	</div>
	    	<div class="tabs-text column large-7">
	    		<h4 class="tabs-header">12. אוקלידס</h4>
				<div class="tabs-paragraph">
					<p>בתוכנה 5 עבודות שבועיות המכילות יותר כ- 100 תרגילים<br>
					אינטראקטיביים בנושאי הגיאומטריה אוקלידית. <br> 
					מתאים לתלמידי כיתות <strong>ז' – ט'</strong>.</p>
		    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 50 שעות פעילות.</p>
	    		</div>
	    	</div>
	    </div>
	</div>
	<div class="unsquared">
	    <div class="row tabs-container" id="tabs-container24">
	    	<div class="tabs-text column large-5">
	    		<h4 class="tabs-header">13. זוויתן</h4>
				<div class="tabs-paragraph">
					<p>זוויתן היא תוכנת המחשה ותרגול אינטראקטיבית בנושאי <br>
					גאומטריה בסיסיים. התוכנה מיועדת לתלמידי <strong>ו' - ט'</strong>.</p>
		    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 50 שעות פעילות.</p>
	    		</div>
	    	</div>
	    	<div class="tabs-pic column large-5 end">
	    		<img src="assets/img/products-13.png">
	    	</div>
	    </div>
	</div>
	<div class="tabs-banner">
		<p>לתלמידי כיתות <strong>ז'</strong>, <strong>ח' ו-ט'</strong> הלומדים עפ"י התכנית של מופ"ת<br>
		<span style="font-size: 1.875rem;">מוצעים <strong>שלוש יחידות</strong> בפיזיקה מהסדרה "עבודות להגשה":</span></p>
	</div>
	<div class="unsquared">
	    <div class="row tabs-container" id="tabs-container25">
	    	<div class="tabs-pic column large-4">
	    		<img src="assets/img/products-14.png">
	    	</div>
	    	<div class="tabs-text column large-6">
	    		<h4 class="tabs-header">14. פיזיקה-7</h4>
				<div class="tabs-paragraph">
					<p>מכילה את הנושאים: <br>
					יחידות מידה, כוח חיכוך, כוח אלסטי,יסודות מבנה החומר, אנרגיה קינטית,<br>
					אנרגיה פוטנציאלית ת, נועה שוות-מהירות.</p>
		    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 40 שעות פעילות.</p>
	    		</div>
	    	</div>
	    </div>
	</div>
	<div class="squared">
	    <div class="row tabs-container" id="tabs-container26">
	    	<div class="tabs-text column large-5">
	    		<h4 class="tabs-header">15. פיזיקה-8</h4>
				<div class="tabs-paragraph">
					<p>אוסף המחשות ופעילויות אינטראקטיביות בכל נושאי השברים.<br>
					מתאים להדגמות בשיעור פרונטלי ולעבודת התלמידים<br>
					מתאים לתלמידי כיתות ד' – ו' </p>
		    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 45 שעות פעילות.</p>
	    		</div>
	    	</div>
	    	<div class="tabs-pic column large-5 end">
	    		<img src="assets/img/products-15.png">
	    	</div>
	    </div>
	</div>
	<div class="unsquared">
	    <div class="row tabs-container" id="tabs-container27">
	    	<div class="tabs-pic column large-4">
	    		<img src="assets/img/products-16.png">
	    	</div>
	    	<div class="tabs-text column large-6">
	    		<h4 class="tabs-header">16. פיזיקה-9</h4>
				<div class="tabs-paragraph">
					<p>מכילה את הנושאים:<br>
					הכבידה העולמית, חוק קולון ושדה חשמלי, זרם והתנגדות, חיבור בטור<br>
					חיבור במקביל, כא"מ ומתח הדקים.</p>
		    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 60 שעות פעילות.</p>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>