<div class="tabs-panel" id="panel3">
    <div class="squared">
	    <div class="row tabs-container" id="tabs-container31">
	    	<div class="column large-5">
	    		<div class="row">
	    			<div class="column large-8">
	    				<h4 class="tabs-header">18. גיאו-טריגו: פתרון משולש<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ישר-זווית</h4>
						<div class="tabs-paragraph">
							<p>משולש ישר-זווית<br>
							משפט הסינוסים<br>
							משפט הקוסינוסים<br>
							חישוב שטחים<br>
							<br>
							</p>
				    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 40 שעות פעילות</p>
			    		</div>
	    			</div>
	    			<div class="column large-3">
	    				<img src="assets/img/books/GeoTrigo.jpg">
	    			</div>
	    		</div>
	    	</div>
	    	<div class="column large-5">
	    		<div class="row">
	    			<div class="column large-8">
	    				<h4 class="tabs-header">17. אנליטיקה: יסודות<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;הגיאומטריה האנליטית</h4>
						<div class="tabs-paragraph">
							<p>משוואת הישר<br>
							מרחקים, אמצע קטע<br>
							בעיות מעורבות<br>
							משוואת מעגל קנוני<br>
							<br>
							</p>
				    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 40 שעות פעילות</p>
			    		</div>
	    			</div>
	    			<div class="column large-3">
	    				<img src="assets/img/books/Analitics.jpg">
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
	<div class="unsquared">
	    <div class="row tabs-container" id="tabs-container31">
	    	<div class="column large-5">
	    		<div class="row">
	    			<div class="column large-8">
	    				<h4 class="tabs-header">20. טריגו-א</h4>
						<div class="tabs-paragraph">
							<p>פונקציות של זווית אחת<br>
							נוסחאות חיבור<br>
							פונקציות של מחצית זווית<br>
							מעבר מסכום למכפלה ולהיפך<br>
							<br>
							</p>
				    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 40 שעות פעילות</p>
			    		</div>
	    			</div>
	    			<div class="column large-3">
	    				<img src="assets/img/books/Trigo_A.jpg">
	    			</div>
	    		</div>
	    	</div>
	    	<div class="column large-5">
	    		<div class="row">
	    			<div class="column large-8">
	    				<h4 class="tabs-header">19. הסדרה</h4>
						<div class="tabs-paragraph">
							<p>סדרה חשבונית<br>
							סדרה הנדסית<br>
							סדרה מערבת<br>
							סדרות שונות<br>
							<br>
							</p>
				    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 40 שעות פעילות</p>
			    		</div>
	    			</div>
	    			<div class="column large-3">
	    				<img src="assets/img/books/Sidra.jpg">
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
	<div class="squared">
	    <div class="row tabs-container" id="tabs-container31">
	    	<div class="column large-5">
	    		<div class="row">
	    			<div class="column large-8">
	    				<h4 class="tabs-header">22. לוגי</h4>
						<div class="tabs-paragraph">
							<p>הגדרת הלוגריתמים<br>
							חוקי הלוגריתמים<br>
							משוואות לוגריתמיות<br>
							מערכות המשוואות ואי-שוויונות<br>
							<br>
							</p>
				    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 40 שעות פעילות</p>
			    		</div>
	    			</div>
	    			<div class="column large-3">
	    				<img src="assets/img/books/Logaritm.jpg">
	    			</div>
	    		</div>
	    	</div>
	    	<div class="column large-5">
	    		<div class="row">
	    			<div class="column large-8">
	    				<h4 class="tabs-header">21. טריגו-ב</h4>
						<div class="tabs-paragraph">
							<p>מחזוריות של פונקציות טריגונומטריות<br>
							משוואות טריגונומטריות בסיסיות<br>
							משוואות מסוגים שונים<br>
							<br>
							<br>
							</p>
				    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 40 שעות פעילות</p>
			    		</div>
	    			</div>
	    			<div class="column large-3">
	    				<img src="assets/img/books/Trigo_B.jpg">
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
	<div class="unsquared">
	    <div class="row tabs-container" id="tabs-container31">
	    	<div class="column large-5">
	    		<div class="row">
	    			<div class="column large-8">
	    				<h4 class="tabs-header">24. הנגזרת</h4>
						<div class="tabs-paragraph">
							<p>חישובי נגזרת<br>
							מגזרת של פונקציה מורכבת<br>
							שימושי הנגזרת<br>
							נקודות קיצון<br>
							<br>
							</p>
				    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 40 שעות פעילות</p>
			    		</div>
	    			</div>
	    			<div class="column large-3">
	    				<img src="assets/img/books/Nigzeret.jpg">
	    			</div>
	    		</div>
	    	</div>
	    	<div class="column large-5">
	    		<div class="row">
	    			<div class="column large-8">
	    				<h4 class="tabs-header">23. דקארט</h4>
						<div class="tabs-paragraph">
							<p>תכונות הפרבולה<br>
							משוואת הפרבולה<br>
							חיתוך הפרבולה עם הצירים<br>
							פרבולה עם פרמטרים<br>
							<br>
							</p>
				    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 40 שעות פעילות</p>
			    		</div>
	    			</div>
	    			<div class="column large-3">
	    				<img src="assets/img/books/Decarte.jpg">
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
	<div class="squared">
	    <div class="row tabs-container" id="tabs-container31">
	    	<div class="column large-5">
	    		<div class="row">
	    			<div class="column large-8">
	    				<h4 class="tabs-header">26. מרוכבים</h4>
						<div class="tabs-paragraph">
							<p>פעולות עם מספרים מרוכבים<br>
							משוואה ריבועית<br>
							המישור של גאוס<br>
							שורשים מסדר גבוה<br>
							<br>
							</p>
				    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 40 שעות פעילות</p>
			    		</div>
	    			</div>
	    			<div class="column large-3">
	    				<img src="assets/img/books/Merucavim-1.jpg">
	    			</div>
	    		</div>
	    	</div>
	    	<div class="column large-5">
	    		<div class="row">
	    			<div class="column large-8">
	    				<h4 class="tabs-header">25. האינטגרל</h4>
						<div class="tabs-paragraph">
							<p>אינטגרל לא מסוים<br>
							אינטגרל מסוים<br>
							חישוב שטחים<br>
							<br>
							<br>
							</p>
				    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 40 שעות פעילות</p>
			    		</div>
	    			</div>
	    			<div class="column large-3">
	    				<img src="assets/img/books/Integral.jpg">
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
	<div class="unsquared">
	    <div class="row tabs-container" id="tabs-container31">
	    	<div class="column large-5">
	    		<div class="row">
	    			<div class="column large-8">
	    				<h4 class="tabs-header">28. "דומינו-שברים"</h4>
						<div class="tabs-paragraph">
							<p>משוואה ריבועית חלקית ומלאה<br>
							מערכת משוואות<br>
							משוואה עם שורשים ופרמטרים<br>
							תכונות המשוואה הריבועית<br>
							בעיות מילוליות<br>
							<br>
							</p>
				    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 40 שעות פעילות</p>
			    		</div>
	    			</div>
	    			<div class="column large-3">
	    				<img src="assets/img/books/Quadr.jpg">
	    			</div>
	    		</div>
	    	</div>
	    	<div class="column large-5">
	    		<div class="row">
	    			<div class="column large-8">
	    				<h4 class="tabs-header">27. "דומינו-שברים"</h4>
						<div class="tabs-paragraph">
							<p>הסתברות<br>
							מדדים סטטיסטיים<br>
							ממוצע, חציון, שכיח<br>
							סטיית תקן<br>
							התפלגות נורמלית<br>
							גידול ודעיכה</p>
				    		<p class="tabs-hours"><img src="assets/img/watches.png"></img> 40 שעות פעילות</p>
			    		</div>
	    			</div>
	    			<div class="column large-3">
	    				<img src="assets/img/books/Statist.jpg">
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>