<header id="top">
	<div class="top-bar">
		<div class="row top-bar-inner">
			<div class="top-bar-title"></div>
			<div>
				<div class="top-bar-left">
					<a href="index.html"><img class="logo" src="assets/img/logo-halomda.png"></a>
				</div>
			    <div class="top-bar-right">
			    	<ul class="menu">
					  	<li><a href="/">דף הבית</a></li>
					  	<li><a href="about.html">מי אנחנו</a></li>
					  	<li><a href="products.html">מוצרים</a></li>
					  	<li><a href="platforma.html">הפלטפורמה</a></li>
					  	<li><a href="contact.html">צרו קשר</a></li>
					</ul>
			    </div>
			  </div>
		</div>
	</div>