<section id="video">
	<div class="row section-title">
		<h3>כותרת וידיו</h3>
	</div>
	<div id="video-player">
		<figure id="video_player">
			<div class="video_list">
				<div class="list_container">
					<figcaption>
					  	<a href="{{root}}assets/img/video/Graph-1.mp4" class="currentvid">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Graph-1.png" alt="Graph 1">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Carnit.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Carnit.png" alt="Carnit">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Domino-H-new.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Domino-H-new.png" alt="Domino H new">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Domino-new-1.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Domino-new-1.png" alt="Domino new">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Graph-2.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Graph-2.png" alt="Graph 2">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Gravi-11.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Gravi-11.png" alt="Gravi">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Nusha-1.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Nusha-1.png" alt="Nusha 1">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Nusha-2.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Nusha-2.png" alt="Nusha 2">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Nusha-Sphere-1.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Nusha-Sphere-1.png" alt="Nusha Sphere">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Rotary-1.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Rotary-1.png" alt="Rotary 1">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Rotary-2.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Rotary-2.png" alt="Rotary 2">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Rotary-3.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Rotary-3.png" alt="Rotary 3">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Siluet-1.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Siluet-1.png" alt="Siluet 1">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Siluet-3.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Siluet-3.png" alt="Siluet 3">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Tangram.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Tangram.png" alt="Tangram">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Waves-2.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Waves-2.png" alt="Waves">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<a href="{{root}}assets/img/video/Waves-new-1.mp4">
					    	<div class="item_img">
					    		<img src="{{root}}assets/img/video/Waves-new-1.png" alt="Waves new">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	<!--
					  	<a href="http://demosthenes.info/assets/videos/mountain.mp4">
					    	<div class="item_img">
					    		<img src="http://demosthenes.info/assets/images/vid-mountain.jpg" alt="Mountain">
					    	</div>
					    	<div class="item_caption">
								<h6>מתמטיקה ופיזיקה</h6>
			        			<p>לסטודנטים, למורים ללימוד עצמי</p>
		        			</div>
					  	</a>
					  	-->
					</figcaption>
				</div>
			</div>
			<div id="video_container">
			  	<video controls poster="{{root}}assets/img/video/Graph-1.png">
			    	<source src="{{root}}assets/img/video/Graph-1.mp4" type="video/mp4">
			    	<source src="{{root}}assets/img/video/Graph-1.webm" type="video/webm">
				</video>
			</div>
		</figure>
	</div>

	<script type="text/javascript">
		var video_player = document.getElementById("video_player");
		video = video_player.getElementsByTagName("video")[0],
		video_links = video_player.getElementsByTagName("figcaption")[0],
		source = video.getElementsByTagName("source"),
		link_list = [],
		vidDir = "{{root}}assets/img/video/",
		currentVid = 0,
		allLnks = video_links.children,
		lnkNum = allLnks.length;
		video.removeAttribute("controls");
		video.removeAttribute("poster");

		(function() {
		function playVid(index) {
		 video_links.children[index].classList.add("currentvid");
		    source[1].src = vidDir + link_list[index] + ".webm";  
			source[0].src = vidDir + link_list[index] + ".mp4";
		    currentVid = index;
		    video.load();
			video.play();
		}

		for (var i=0; i<lnkNum; i++) {
		var filename = allLnks[i].href;
		link_list[i] = filename.match(/([^\/]+)(?=\.\w+$)/)[0];
		(function(index){
		        allLnks[i].onclick = function(i){
		        i.preventDefault();  
				for (var i=0; i<lnkNum; i++) {
				allLnks[i].classList.remove("currentvid");
				}
				playVid(index);
		        }    
		    })(i);
		}
		video.addEventListener('ended', function () {
		    allLnks[currentVid].classList.remove("currentvid");
		    if ((currentVid + 1) >= lnkNum) { nextVid = 0 } else { nextVid = currentVid+1 }
		    playVid(nextVid);
		})

		video.addEventListener('mouseenter', function() {
		    video.setAttribute("controls","true");
		})

		video.addEventListener('mouseleave', function() {
		    video.removeAttribute("controls");
		})

		var indexOf = function(needle) {
		    if(typeof Array.prototype.indexOf === 'function') {
		        indexOf = Array.prototype.indexOf;
		    } else {
		        indexOf = function(needle) {
		            var i = -1, index = -1;
					for(i = 0; i < this.length; i++) {
		                if(this[i] === needle) {
		                    index = i;
		                    break;
		                }}
		            return index;
		        };}
		    return indexOf.call(this, needle);
		};
		 	var focusedLink = document.activeElement;
		 	index = indexOf.call(allLnks, focusedLink);
		 	
		document.addEventListener('keydown', function(e) {
		if (index) {
			var focusedElement = document.activeElement;
		    if (e.keyCode == 40 || e.keyCode == 39) { // down or right cursor
		    var nextNode = focusedElement.nextElementSibling;
		    if (nextNode) { nextNode.focus(); } else { video_links.firstElementChild.focus(); }
		    }
		   if (e.keyCode == 38 || e.keyCode == 37) { // up or left cursor
		    var previousNode = focusedElement.previousElementSibling;
		    if (previousNode) { previousNode.focus(); } else { video_links.lastElementChild.focus(); }
		    }
		 }
		});

		})();
	</script>
</section>